<ion-header [translucent]="true">
  <ion-toolbar color="blue">
    <ion-title class="ion-text-center">Jake Peralta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-label><strong>Telefone: </strong>212 134-26-04233</ion-label>
        </ion-item>
        <ion-item>
          <ion-label
            ><strong>G-mail: </strong>jakesantiago@gmail.com</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-label
            ><strong>Trabalho: </strong> Detetive da Delegacia 99 do
            Brooklyn</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-label><strong>Id: </strong></ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
