h2{
  color: black;
  margin-left: 5%;
  font-size: 20px;
}

ion-icon{
  height: 30px;
  width: 30px;
  color: black;
  margin-left: 5%;
  margin-right: 5%;
}

.icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #D6EAF8;
}

img{
  height:290px;
  width: 300px;
  border-radius: 55%;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
