<ion-header [translucent]="true">
  <ion-toolbar color="blue">
    <ion-title class="ion-text-center">Rosa Diaz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="image">
    <img
      src="https://i.pinimg.com/736x/2a/63/f8/2a63f88630019686e980a0966d5dd4b3.jpg"
      alt=""
    />
  </div>

  <div>
    <ion-card class="icons">
      <ion-icon name="call-outline"></ion-icon>
      <ion-icon name="chatbox-outline"></ion-icon>
      <ion-icon name="videocam-outline"></ion-icon>
    </ion-card>
  </div>

  <div class="container">
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-label><strong>Telefone: </strong>212 620-42-01073 </ion-label>
        </ion-item>
        <ion-item>
          <ion-label><strong>G-mail: </strong>rosadiaz@gmail.com</ion-label>
        </ion-item>
        <ion-item>
          <ion-label
            ><strong>Trabalho: </strong> Detetive da Delegacia 99 do
            Brooklyn</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-label><strong>Id: </strong></ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
