<ion-header [translucent]="true">
  <ion-toolbar color="blue">
    <ion-title class="ion-text-center">Charles Boyle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="image">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn41Uq5qQm2q-obU56TkbDq877sSOaKz3iUQ&usqp=CAU"
    />
  </div>

  <div>
    <ion-card class="icons">
      <ion-icon name="call-outline"></ion-icon>
      <ion-icon name="chatbox-outline"></ion-icon>
      <ion-icon name="videocam-outline"></ion-icon>
    </ion-card>
  </div>

  <div class="container">
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-label><strong>Telefone: </strong>212 580-13-516392</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><strong>G-mail: </strong>paidonikolaj@gmail.com</ion-label>
        </ion-item>
        <ion-item>
          <ion-label
            ><strong>Trabalho: </strong> Detetive da Delegacia 99 do
            Brooklyn</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-label><strong>Id: </strong></ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
